.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: dashed;
    color: blueviolet;
}

.nav a:hover {
    color: red;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 14, 44);
}

p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*
.box {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    padding: 30px;
    border: 10px solid blueviolet;
    margin: 50px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
} */